.history
.vscode
.idea
*.iml
*.ipr
*.iws
*.pyc
*.pyo
__pycache__/
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
*.pyd
.github
node_modules
mysukin
*.txt
test
